{% extends "layout.html" %}
{% block content %}
<small class="text-justify">Number of Lovely Animals Available: {{count}}</small>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('dogsonly') }}">See Only Dogs</a>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('catsonly') }}">See Only Cats</a>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('adopt') }}">See All</a>
{% for row in results %}
{% if row.Status==1 %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#">{{ row }}</a> <br/>  -->
        <small class="text-justify">{{row.Breed}}</small>
        <h2><a class="article-title" href="{{ url_for('adopt_pet', AnimalID=row.AnimalID) }}">{{ row.AnimalName }}</a></h2> 
      </div>
     
    </div>
  </article>
  {% endif %}
{% endfor %}    
{% endblock content %}