{% extends "layout.html" %}
{% block content %}
<small class="text-justify">Number of Animals Due for an Immunization: {{results4}}</small>
{% for row in joined_m_n %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <!-- <a class="mr-2" href="#">{{ row }}</a> <br/>  -->
      <small class="text-justify">{{ row.AnimalName}} {{ row.Gender }}  {{ row.ImmunizationName }} {{row.ImmunizationDate}}</small>
      
    </div>
   
  </div>
</article>
{% endfor %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_immunization') }}">Add Pet Immunization</a>
{% endblock content %}