{% extends "layout.html" %}
{% block content %}
    {% for row in joined_1_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a> <br/>
              <small class="text-justify">{{ row.OrderID }} {{ row.InventoryID }}  {{ row.ProductName }}</small>
            </div>
           
          </div>
        </article>
     {% endfor %}
	  {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a> <br/>
              <small class="text-justify">{{ row.OrderID}} {{ row.InventoryID }}  {{row.ProductName }} {{row.OrderDate}}</small>
            </div>
           
          </div>
        </article>
     {% endfor %}
	
{% endblock content %}